.footer{
    overflow: hidden;
}
.footer img{
    margin-top: 140px;
    /* width: 100vw;
    background-image: url("../../public/images/footer.png");
    background-size: cover; */
    height: 414px;
    margin-bottom: -30px;
    padding: 0px;
}